/abc001-050/abc*/problem*
/abc001-050/abc*/test_*
/abc051-100/abc*/problem*
/abc051-100/abc*/test_*
/abc151-200/abc*/problem*
/abc151-200/abc*/test_*
/abc201-250/abc*/problem*
/abc201-250/abc*/test_*
